name: Build And Deploy
on:
  push:
    branches:
     - main
  workflow_dispatch:


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3


      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.24.0'

      - name: Build Go Project
        run: |
          mkdir -p ./build
          GOOS=linux GOARCH=amd64 go build -o ./build/myblog 

      - name: Upload to VPS via Rsync
        uses: easingthemes/ssh-deploy@v5.1.0
        env:
          SSH_PRIVATE_KEY: ${{ secrets.VPS_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.VPS_HOST }}
          REMOTE_USER: ${{ secrets.VPS_DEPLOY_USER }}
          SOURCE: "build/myblog"
          TARGET: "/home/goapp/"
          ARGS: "-avz"

