name: Build And Deploy
on:
  push:
    branches:
     - main
  workflow_dispatch:


jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3


      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.24.0'

      - name: Build Go Project
        run: |
          mkdir -p ./build
          GOOS=linux GOARCH=amd64 go build -o ./build/myblog 

      - name: Deploy and Restart backend service
        run: |
          sudo install -m 0755 -o goapp -g goapp ./build/myblog /home/goapp/myblog.new
          sudo mv -f /home/goapp/myblog.new /home/goapp/myblog
          sudo systemctl restart myblog
          sudo systemctl --no-pager status myblog || true

