name: Update GeoLite2
on:
  schedule:
    - cron: "0 3 1 * *"
  workflow_dispatch:


jobs:
  update:
    runs-on: ubuntu-latest
    steps:


      - name: Download GeoLite2
        run: |
          set -euo pipefail

          MIRROR="https://github.com/P3TERX/GeoLite.mmdb/releases/latest/download/GeoLite2-City.mmdb"
      
          curl -fSL -o GeoLite2-City.mmdb "$MIRROR"
      
          file GeoLite2-City.mmdb

      - name: Upload to VPS
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_GEO_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "GeoLite2-City.mmdb"
          target: "/usr/local/share/GeoIP/"
