name: Update GeoLite2
on:
  schedule:
    - cron: "0 3 1 * *"
  workflow_dispatch:


jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Download GeoLite2
        run: |
          set -euo pipefail
          URL="https://download.maxmind.com/app/geoip_download?edition_id=GeoLite2-City&license_key=${{ secrets.MAXMIND_KEY }}&suffix=tar.gz"
      
          curl -sSL -D headers.txt -o geo.tar.gz "$URL"
          echo "---- response headers ----"
          head -n 20 headers.txt
          echo "---- file type ----"
          file geo.tar.gz
          echo "---- first lines ----"
          head -n 20 geo.tar.gz || true
      
          # 如果真的是 tar.gz，这个会列出内容；如果不是会直接报错
          tar -tzf geo.tar.gz | head
          tar -xzf geo.tar.gz
          mv GeoLite2-City_*/GeoLite2-City.mmdb GeoLite2-City.mmdb

      - name: Upload to VPS
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_GEO_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "GeoLite2-City.mmdb"
          target: "/usr/local/share/GeoIP/"
